<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">
                <form method="post" >
                    <h4>Editing of Category</h4>

                    <div class="row mb-3">
                        <label for="categoryName" class="col-sm-2 col-form-label">Category Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="categoryName" name="categoryName" value="<%= category.categoryName %>">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead class="thead" style="background-color: #0C2C5B; color: #FFDC0D;">
                <tr>
                    <th style="width: 50px;">Book ID</th>
                    <th style="width: 150px;">Image</th>
                    <th>Title</th>
                    <th style="width: 130px;">Actions</th>
                </tr>
            </thead>
            <p>
                Book found belongs to this category:
                <%= countBook %></p>
            <tbody>
                <% books.forEach(book => { %>
                    <tr>
                        <td> <%= book.dataValues.bookId %> </td>
                        <td>
                            <img src="/static/images/<%= book.dataValues.image %>" class="img-fluid" alt="">
                        </td>
                        <td>
                            <%= book.dataValues.name %> 
                        </td>
                        <td>
                            <a class="btn btn-sm btn-emoji" href="/admin/books/<%= book.dataValues.bookId %>">✏️</a>
                            <a class="btn btn-sm btn-emoji" href="/admin/book/delete/<%= book.dataValues.bookId %>">🗑️</a></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
       
</body>
</html>



