<!DOCTYPE html>
<html lang="en">
    <%- include(("../partials/head"))  %>
<body>
<%- include("../partials/nav") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3">
<%-include("../partials/category-menu", {categories, selectedCategory})  %>
            </div>
        <div class="col-md-9  mt-10">
            <h5>List of All Books</h5>
            <% if(books.length == 0) { %>
                <%- include ("../partials/no-products",books)  %>
            <% } %>
            
            <% books.forEach(book => { %>
                <%- include("../partials/book-card", book)  %> 
            <% }) %>

            <%- include("../partials/pagination")  %>           
        </div>
    </div>
</body>
</html>
